---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v1/inflections/en/foxes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - 51e4c728
      App-Key:
      - dea71d2ad767b0c185b0946547d46b47
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Version:
      - v1.10.0-19-g9c8abf9
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "foxes",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Third",
                                    "type": "Person"
                                },
                                {
                                    "text": "Singular",
                                    "type": "Number"
                                },
                                {
                                    "text": "Present",
                                    "type": "Tense"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "fox",
                                    "text": "fox"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Verb",
                            "text": "foxes"
                        },
                        {
                            "grammaticalFeatures": [
                                {
                                    "text": "Plural",
                                    "type": "Number"
                                }
                            ],
                            "inflectionOf": [
                                {
                                    "id": "fox",
                                    "text": "fox"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": "Noun",
                            "text": "foxes"
                        }
                    ],
                    "word": "foxes"
                }
            ]
        }
  recorded_at: Wed, 30 May 2018 17:32:08 GMT
[...]
